* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

#header {
    background-color: #000;
    color: #fff;
    padding: 10px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
}

#logo img {
    max-width: 120px;
}

#dieuhuong ul {
    list-style-type: none;
    display: flex;
}

#dieuhuong ul li {
    margin-right: 20px;
}

#dieuhuong ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
}

#dieuhuong ul li a:hover {
    color: #ff7300;
}

.tieude{
    text-align: center;
    margin-top: 70px;
    padding: 50px 120px 0;
    background-color: #000;
    color: #fff;
}


#list{
    background-color: #000;
    padding: 50px 120px 0;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.danhsach {
    flex: 0 0 calc(20% - 10px); 
    margin-bottom: 40px;
    font-weight: bold;
}

.danhsach a {
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.danhsach img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.danhsach p {
    margin-top: 10px;
}


#fooder{

    padding: 100px 20px 40px;
    background-color: #000;
    line-height: 1.4;
    color: #fff;
    
}

#fooder .diachi{
    display: inline-block;
    width: 47%;
    margin-left: 30px;
}

#fooder h4{
    margin-bottom: 20px;
}

#mua {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 0 auto;
}
.theloai a{
    text-decoration: none;
    width: 100px;
    position: relative; 
    z-index: 1; 
}
a{
    text-decoration: none;   
}